.table1 {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    row-gap: 4rem;
    border-right: 1.65px solid black;
    border-left: 1.65px solid black;
    border-bottom: 1.65px solid black;
    border-radius: 0.5rem .5rem .5rem .5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);


}




* {}



.table1 * {
    margin: 0;
    opacity: 1;


}

.navHeader {
    display: flex;
    flex-direction: column;
    width: 33.333333%;
    min-width: 18rem;
    opacity: 1;


}




.navHeader h1 {

    cursor: pointer;
    opacity: 1;
    font-weight: 600;
    color: #333;
    font-size: 2rem;
    letter-spacing: 0.5px;
    padding: .4rem 0.6rem;
    border-radius: 0.5rem .5rem 0 0;
    transition: all 0.3s ease;
    background-color: gray;


}

.navHeader h1:hover {
    background-color: #efefef;
    color: #ad3e23;
    opacity: 1;
}



.listCont {

    flex: 1;
    opacity: .85;
    background-color: white;
    height: 100%;
    border-radius: 0 0 .5rem .5rem;
    padding: .4rem 0.6rem;



}

.navHeader ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navHeader li {
    margin: 0.6rem 0;
    font-size: 0.95rem;
    color: #444;
    padding-left: 1rem;
    position: relative;
    transition: all 0.25s ease;
}


.navHeader li::before {
    content: "•";
    position: absolute;
    left: 0;
    color: #ad3e23;
    font-weight: bold;
}

.navHeader li:hover {
    color: #ad3e23;
    transform: translateX(4px);
}

@media (max-width: 54rem) {
    .table1 {
        border: none;
        box-shadow: none;
    }
}